# Biblioteca Pandas

In [107]:
# importar biblioteca
import pandas as pd

In [108]:
local_arquivo = r'pandas\petr4.csv'

Lendo arquivo

In [215]:
df = pd.read_csv(local_arquivo, decimal=',')

            Data      Hora  Abertura   Maxima   Minima  Fechamento    ULT
0     21/05/2021  00:00:00   26.0800  26.3100  25.9500     26.0700  26.07
1     20/05/2021  00:00:00   26.1500  26.2800  25.7200     25.9300  26.07
2     19/05/2021  00:00:00   25.8500  26.3500  25.8000     26.1500  26.07
3     18/05/2021  00:00:00   26.7000  26.8000  26.2700     26.3500  26.07
4     17/05/2021  00:00:00   26.3000  26.6600  26.2000     26.6600  26.07
...          ...       ...       ...      ...      ...         ...    ...
5157  18/07/2000  00:00:00    2.8343   2.8343   2.7603      2.7888  26.07
5158  17/07/2000  00:00:00    2.8457   2.9134   2.7546      2.8053  26.07
5159  14/07/2000  00:00:00    2.7888   2.8741   2.7774      2.8457  26.07
5160  13/07/2000  00:00:00    2.8741   2.8855   2.7575      2.7575  26.07
5161  12/07/2000  00:00:00    2.9026   2.9538   2.7831      2.8354  26.07

[5162 rows x 7 columns]

Tipo de objeto

In [216]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

Tipos de objetos dentro do dataframe

In [217]:
df.dtypes

Data           object
Hora           object
Abertura      float64
Maxima        float64
Minima        float64
Fechamento    float64
ULT           float64
dtype: object

Descrever o formato dos dados (linhas, colunas)

In [218]:
print(df.shape)

(5162, 7)

## Acesso à tabelas em html

datasets damodaran: http://pages.stern.nyu.edu/~adamodar/New_Home_Page/dataarchived.html

In [224]:
# TABELAS DA PÁGINA DO DAMODARAN
link = 'http://pages.stern.nyu.edu/~adamodar/New_Home_Page/datafile/histretSP.html'

df_html = pd.read_html(link)
df_html

[      0                                  1   \
 0    NaN  Annual Returns on  Investments in
 1   Year       S&P 500 (includes dividends)
 2   1928                             43.81%
 3   1929                             -8.30%
 4   1930                            -25.12%
 ..   ...                                ...
 90  2016                             11.77%
 91  2017                             21.61%
 92  2018                             -4.23%
 93  2019                             31.21%
 94  2020                             18.01%

                                    2                                  3   \
 0   Annual Returns on  Investments in  Annual Returns on  Investments in
 1                      3-month T.Bill                         US T. Bond
 2                               3.08%                              0.84%
 3                               3.16%                              4.20%
 4                               4.55%                              4.54%
 ..                                ...                                ...
 90                              0.32%                              0.69%
 91                              0.93%                              2.80%
 92                              1.94%                             -0.02%
 93                              1.55%                              9.64%
 94                              0.09%                             11.33%

                                    4   \
 0   Annual Returns on  Investments in
 1                 Baa  Corporate Bond
 2                               3.22%
 3                               3.02%
 4                               0.54%
 ..                                ...
 90                             10.37%
 91                              9.72%
 92                             -2.76%
 93                             15.33%
 94                             10.41%

                                             5   \
 0   Value of $100 invested at start of 1928 in
 1                S&P 500 (includes dividends)3
 2                                     $ 143.81
 3                                     $ 131.88
 4                                      $ 98.75
 ..                                         ...
 90                                $ 328,742.28
 91                                $ 399,768.64
 92                                $ 382,870.94
 93                                $ 502,371.39
 94                                $ 592,868.15

                                             6   \
 0   Value of $100 invested at start of 1928 in
 1                              3-month T.Bill4
 2                                     $ 103.08
 3                                     $ 106.34
 4                                     $ 111.18
 ..                                         ...
 90                                  $ 1,990.70
 91                                  $ 2,009.23
 92                                  $ 2,048.20
 93                                  $ 2,079.94
 94                                  $ 2,081.82

                                             7   \
 0   Value of $100 invested at start of 1928 in
 1                                  US T. Bond5
 2                                     $ 100.84
 3                                     $ 105.07
 4                                     $ 109.85
 ..                                         ...
 90                                  $ 7,110.65
 91                                  $ 7,309.87
 92                                  $ 7,308.65
 93                                  $ 8,012.89
 94                                  $ 8,920.90

                                             8                    9   \
 0   Value of $100 invested at start of 1928 in  Annual Risk Premium
 1                         Baa  Corporate Bond6      Stocks  - Bills
 2                                     $ 103.22               40.73%
 3                                     $ 106.33              -11.46%
 4                                     $ 106.91              -29.67%
 ..                                         ...                  ...
 90                                 $ 39,552.74               11.46%
 91                                 $ 43,398.81               20.67%
 92                                 $ 42,199.86               -6.17%
 93                                 $ 48,668.87               29.66%
 94                                 $ 53,736.05               17.92%

                      10                       11                        12  \
 0   Annual Risk Premium      Annual Risk Premium       Annual Risk Premium
 1       Stocks  - Bonds  Stocks  - Baa Corp Bond  Historical  risk premium
 2                42.98%                   40.59%                       NaN
 3               -12.50%                  -11.32%                       NaN
 4               -29.66%                  -25.66%                       NaN
 ..                  ...                      ...                       ...
 90               11.08%                    1.41%                     4.62%
 91               18.80%                   11.88%                     4.77%
 92               -4.21%                   -1.46%                     4.66%
 93               21.58%                   15.88%                     4.83%
 94                6.68%                    7.60%                     4.84%

                  13                              14                       15  \
 0               NaN          Annual Real Returns on   Annual Real Returns on
 1   Inflation  Rate  S&P  500 (includes dividends)2  3-month  T. Bill (Real)
 2            -1.15%                          45.49%                    4.28%
 3             0.00%                          -8.30%                    3.16%
 4            -2.67%                         -23.07%                    7.42%
 ..              ...                             ...                      ...
 90            1.26%                          10.38%                   -0.93%
 91            2.13%                          19.07%                   -1.17%
 92            2.44%                          -6.51%                   -0.49%
 93            2.29%                          28.27%                   -0.72%
 94            1.20%                          16.61%                   -1.10%

                         16                      17
 0   Annual Real Returns on  Annual Real Returns on
 1         !0-year  T.Bonds         Baa  Corp Bonds
 2                    2.01%                   4.42%
 3                    4.20%                   3.02%
 4                    7.41%                   3.30%
 ..                     ...                     ...
 90                  -0.56%                   8.99%
 91                   0.66%                   7.44%
 92                  -2.40%                  -5.08%
 93                   7.18%                  12.75%
 94                  10.01%                   9.10%

 [95 rows x 18 columns]]

Tipo do objeto

In [220]:
print(type(df_html))

<class 'list'>

## Tratando dados

Selecionando primeiro item da lista

In [225]:
df_html = df_html[0]
df_html

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,Annual Returns on Investments in,Annual Returns on Investments in,Annual Returns on Investments in,Annual Returns on Investments in,Value of $100 invested at start of 1928 in,Value of $100 invested at start of 1928 in,Value of $100 invested at start of 1928 in,Value of $100 invested at start of 1928 in,Annual Risk Premium,Annual Risk Premium,Annual Risk Premium,Annual Risk Premium,NaN,Annual Real Returns on,Annual Real Returns on,Annual Real Returns on,Annual Real Returns on
1,Year,S&P 500 (includes dividends),3-month T.Bill,US T. Bond,Baa Corporate Bond,S&P 500 (includes dividends)3,3-month T.Bill4,US T. Bond5,Baa Corporate Bond6,Stocks - Bills,Stocks - Bonds,Stocks - Baa Corp Bond,Historical risk premium,Inflation Rate,S&P 500 (includes dividends)2,3-month T. Bill (Real),!0-year T.Bonds,Baa Corp Bonds
2,1928,43.81%,3.08%,0.84%,3.22%,$ 143.81,$ 103.08,$ 100.84,$ 103.22,40.73%,42.98%,40.59%,NaN,-1.15%,45.49%,4.28%,2.01%,4.42%
3,1929,-8.30%,3.16%,4.20%,3.02%,$ 131.88,$ 106.34,$ 105.07,$ 106.33,-11.46%,-12.50%,-11.32%,NaN,0.00%,-8.30%,3.16%,4.20%,3.02%
4,1930,-25.12%,4.55%,4.54%,0.54%,$ 98.75,$ 111.18,$ 109.85,$ 106.91,-29.67%,-29.66%,-25.66%,NaN,-2.67%,-23.07%,7.42%,7.41%,3.30%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2016,11.77%,0.32%,0.69%,10.37%,"$ 328,742.28","$ 1,990.70","$ 7,110.65","$ 39,552.74",11.46%,11.08%,1.41%,4.62%,1.26%,10.38%,-0.93%,-0.56%,8.99%
91,2017,21.61%,0.93%,2.80%,9.72%,"$ 399,768.64","$ 2,009.23","$ 7,309.87","$ 43,398.81",20.67%,18.80%,11.88%,4.77%,2.13%,19.07%,-1.17%,0.66%,7.44%
92,2018,-4.23%,1.94%,-0.02%,-2.76%,"$ 382,870.94","$ 2,048.20","$ 7,308.65","$ 42,199.86",-6.17%,-4.21%,-1.46%,4.66%,2.44%,-6.51%,-0.49%,-2.40%,-5.08%
93,2019,31.21%,1.55%,9.64%,15.33%,"$ 502,371.39","$ 2,079.94","$ 8,012.89","$ 48,668.87",29.66%,21.58%,15.88%,4.83%,2.29%,28.27%,-0.72%,7.18%,12.75%
94,2020,18.01%,0.09%,11.33%,10.41%,"$ 592,868.15","$ 2,081.82","$ 8,920.90","$ 53,736.05",17.92%,6.68%,7.60%,4.84%,1.20%,16.61%,-1.10%,10.01%,9.10%

Trocando o nome da coluna

In [197]:
df_html.columns = df_html.loc[1]
df_html

1,Year,S&P 500 (includes dividends),3-month T.Bill,US T. Bond,Baa Corporate Bond,S&P 500 (includes dividends)3,3-month T.Bill4,US T. Bond5,Baa Corporate Bond6,Stocks - Bills,Stocks - Bonds,Stocks - Baa Corp Bond,Historical risk premium,Inflation Rate,S&P 500 (includes dividends)2,3-month T. Bill (Real),!0-year T.Bonds,Baa Corp Bonds
0,NaN,Annual Returns on Investments in,Annual Returns on Investments in,Annual Returns on Investments in,Annual Returns on Investments in,Value of $100 invested at start of 1928 in,Value of $100 invested at start of 1928 in,Value of $100 invested at start of 1928 in,Value of $100 invested at start of 1928 in,Annual Risk Premium,Annual Risk Premium,Annual Risk Premium,Annual Risk Premium,NaN,Annual Real Returns on,Annual Real Returns on,Annual Real Returns on,Annual Real Returns on
1,Year,S&P 500 (includes dividends),3-month T.Bill,US T. Bond,Baa Corporate Bond,S&P 500 (includes dividends)3,3-month T.Bill4,US T. Bond5,Baa Corporate Bond6,Stocks - Bills,Stocks - Bonds,Stocks - Baa Corp Bond,Historical risk premium,Inflation Rate,S&P 500 (includes dividends)2,3-month T. Bill (Real),!0-year T.Bonds,Baa Corp Bonds
2,1928,43.81%,3.08%,0.84%,3.22%,$ 143.81,$ 103.08,$ 100.84,$ 103.22,40.73%,42.98%,40.59%,NaN,-1.15%,45.49%,4.28%,2.01%,4.42%
3,1929,-8.30%,3.16%,4.20%,3.02%,$ 131.88,$ 106.34,$ 105.07,$ 106.33,-11.46%,-12.50%,-11.32%,NaN,0.00%,-8.30%,3.16%,4.20%,3.02%
4,1930,-25.12%,4.55%,4.54%,0.54%,$ 98.75,$ 111.18,$ 109.85,$ 106.91,-29.67%,-29.66%,-25.66%,NaN,-2.67%,-23.07%,7.42%,7.41%,3.30%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2016,11.77%,0.32%,0.69%,10.37%,"$ 328,742.28","$ 1,990.70","$ 7,110.65","$ 39,552.74",11.46%,11.08%,1.41%,4.62%,1.26%,10.38%,-0.93%,-0.56%,8.99%
91,2017,21.61%,0.93%,2.80%,9.72%,"$ 399,768.64","$ 2,009.23","$ 7,309.87","$ 43,398.81",20.67%,18.80%,11.88%,4.77%,2.13%,19.07%,-1.17%,0.66%,7.44%
92,2018,-4.23%,1.94%,-0.02%,-2.76%,"$ 382,870.94","$ 2,048.20","$ 7,308.65","$ 42,199.86",-6.17%,-4.21%,-1.46%,4.66%,2.44%,-6.51%,-0.49%,-2.40%,-5.08%
93,2019,31.21%,1.55%,9.64%,15.33%,"$ 502,371.39","$ 2,079.94","$ 8,012.89","$ 48,668.87",29.66%,21.58%,15.88%,4.83%,2.29%,28.27%,-0.72%,7.18%,12.75%
94,2020,18.01%,0.09%,11.33%,10.41%,"$ 592,868.15","$ 2,081.82","$ 8,920.90","$ 53,736.05",17.92%,6.68%,7.60%,4.84%,1.20%,16.61%,-1.10%,10.01%,9.10%

Deletando colunas

In [198]:
df_html.drop([0, 1], inplace=True)
df_html

1,Year,S&P 500 (includes dividends),3-month T.Bill,US T. Bond,Baa Corporate Bond,S&P 500 (includes dividends)3,3-month T.Bill4,US T. Bond5,Baa Corporate Bond6,Stocks - Bills,Stocks - Bonds,Stocks - Baa Corp Bond,Historical risk premium,Inflation Rate,S&P 500 (includes dividends)2,3-month T. Bill (Real),!0-year T.Bonds,Baa Corp Bonds
2,1928,43.81%,3.08%,0.84%,3.22%,$ 143.81,$ 103.08,$ 100.84,$ 103.22,40.73%,42.98%,40.59%,NaN,-1.15%,45.49%,4.28%,2.01%,4.42%
3,1929,-8.30%,3.16%,4.20%,3.02%,$ 131.88,$ 106.34,$ 105.07,$ 106.33,-11.46%,-12.50%,-11.32%,NaN,0.00%,-8.30%,3.16%,4.20%,3.02%
4,1930,-25.12%,4.55%,4.54%,0.54%,$ 98.75,$ 111.18,$ 109.85,$ 106.91,-29.67%,-29.66%,-25.66%,NaN,-2.67%,-23.07%,7.42%,7.41%,3.30%
5,1931,-43.84%,2.31%,-2.56%,-15.68%,$ 55.46,$ 113.74,$ 107.03,$ 90.14,-46.15%,-41.28%,-28.16%,NaN,-8.93%,-38.33%,12.34%,7.00%,-7.41%
6,1932,-8.64%,1.07%,8.79%,23.59%,$ 50.66,$ 114.96,$ 116.44,$ 111.41,-9.71%,-17.43%,-32.23%,NaN,-10.30%,1.85%,12.68%,21.28%,37.78%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2016,11.77%,0.32%,0.69%,10.37%,"$ 328,742.28","$ 1,990.70","$ 7,110.65","$ 39,552.74",11.46%,11.08%,1.41%,4.62%,1.26%,10.38%,-0.93%,-0.56%,8.99%
91,2017,21.61%,0.93%,2.80%,9.72%,"$ 399,768.64","$ 2,009.23","$ 7,309.87","$ 43,398.81",20.67%,18.80%,11.88%,4.77%,2.13%,19.07%,-1.17%,0.66%,7.44%
92,2018,-4.23%,1.94%,-0.02%,-2.76%,"$ 382,870.94","$ 2,048.20","$ 7,308.65","$ 42,199.86",-6.17%,-4.21%,-1.46%,4.66%,2.44%,-6.51%,-0.49%,-2.40%,-5.08%
93,2019,31.21%,1.55%,9.64%,15.33%,"$ 502,371.39","$ 2,079.94","$ 8,012.89","$ 48,668.87",29.66%,21.58%,15.88%,4.83%,2.29%,28.27%,-0.72%,7.18%,12.75%
94,2020,18.01%,0.09%,11.33%,10.41%,"$ 592,868.15","$ 2,081.82","$ 8,920.90","$ 53,736.05",17.92%,6.68%,7.60%,4.84%,1.20%,16.61%,-1.10%,10.01%,9.10%

In [199]:
print(df_html.dtypes)

1
Year                              object
S&P 500 (includes dividends)      object
3-month T.Bill                    object
US T. Bond                        object
Baa  Corporate Bond               object
S&P 500 (includes dividends)3     object
3-month T.Bill4                   object
US T. Bond5                       object
Baa  Corporate Bond6              object
Stocks  - Bills                   object
Stocks  - Bonds                   object
Stocks  - Baa Corp Bond           object
Historical  risk premium          object
Inflation  Rate                   object
S&P  500 (includes dividends)2    object
3-month  T. Bill (Real)           object
!0-year  T.Bonds                  object
Baa  Corp Bonds                   object
dtype: object

Substituindo strings dentro do dataframe

In [201]:
df_html.replace('%', '', regex=True, inplace=True)
df_html.replace(',', '', regex=True, inplace=True)
df_html.replace('\$ ', '', regex=True, inplace=True)

Transformando objetos em dados numéricos

In [202]:
df_html = df_html.apply(pd.to_numeric)

In [186]:
df_html.dtypes

1
Year                                int64
S&P 500 (includes dividends)      float64
3-month T.Bill                    float64
US T. Bond                        float64
Baa  Corporate Bond               float64
S&P 500 (includes dividends)3     float64
3-month T.Bill4                   float64
US T. Bond5                       float64
Baa  Corporate Bond6              float64
Stocks  - Bills                   float64
Stocks  - Bonds                   float64
Stocks  - Baa Corp Bond           float64
Historical  risk premium          float64
Inflation  Rate                   float64
S&P  500 (includes dividends)2    float64
3-month  T. Bill (Real)           float64
!0-year  T.Bonds                  float64
Baa  Corp Bonds                   float64
dtype: object

Agora podemos fazer operações com o dataframe

In [203]:
df_html['S&P 500 (includes dividends)'] = df_html['S&P 500 (includes dividends)']/100

In [204]:
df_html

1,Year,S&P 500 (includes dividends),3-month T.Bill,US T. Bond,Baa Corporate Bond,S&P 500 (includes dividends)3,3-month T.Bill4,US T. Bond5,Baa Corporate Bond6,Stocks - Bills,Stocks - Bonds,Stocks - Baa Corp Bond,Historical risk premium,Inflation Rate,S&P 500 (includes dividends)2,3-month T. Bill (Real),!0-year T.Bonds,Baa Corp Bonds
2,1928,0.4381,3.08,0.84,3.22,143.81,103.08,100.84,103.22,40.73,42.98,40.59,NaN,-1.15,45.49,4.28,2.01,4.42
3,1929,-0.0830,3.16,4.20,3.02,131.88,106.34,105.07,106.33,-11.46,-12.50,-11.32,NaN,0.00,-8.30,3.16,4.20,3.02
4,1930,-0.2512,4.55,4.54,0.54,98.75,111.18,109.85,106.91,-29.67,-29.66,-25.66,NaN,-2.67,-23.07,7.42,7.41,3.30
5,1931,-0.4384,2.31,-2.56,-15.68,55.46,113.74,107.03,90.14,-46.15,-41.28,-28.16,NaN,-8.93,-38.33,12.34,7.00,-7.41
6,1932,-0.0864,1.07,8.79,23.59,50.66,114.96,116.44,111.41,-9.71,-17.43,-32.23,NaN,-10.30,1.85,12.68,21.28,37.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2016,0.1177,0.32,0.69,10.37,328742.28,1990.70,7110.65,39552.74,11.46,11.08,1.41,4.62,1.26,10.38,-0.93,-0.56,8.99
91,2017,0.2161,0.93,2.80,9.72,399768.64,2009.23,7309.87,43398.81,20.67,18.80,11.88,4.77,2.13,19.07,-1.17,0.66,7.44
92,2018,-0.0423,1.94,-0.02,-2.76,382870.94,2048.20,7308.65,42199.86,-6.17,-4.21,-1.46,4.66,2.44,-6.51,-0.49,-2.40,-5.08
93,2019,0.3121,1.55,9.64,15.33,502371.39,2079.94,8012.89,48668.87,29.66,21.58,15.88,4.83,2.29,28.27,-0.72,7.18,12.75
94,2020,0.1801,0.09,11.33,10.41,592868.15,2081.82,8920.90,53736.05,17.92,6.68,7.60,4.84,1.20,16.61,-1.10,10.01,9.10