# Biblioteca Pandas

In [ ]:
# importar biblioteca
import pandas as pd

In [ ]:
local_arquivo = r'arquivos\petr4.csv'

Lendo arquivo csv local

In [ ]:
df = pd.read_csv(local_arquivo, decimal=',')
df

Tipo de objeto

In [ ]:
print(type(df))

Tipos de objetos dentro do dataframe

In [ ]:
df.dtypes

Descrever o formato dos dados (linhas, colunas)

In [ ]:
print(df.shape)

## Acesso à tabelas em html

datasets damodaran: http://pages.stern.nyu.edu/~adamodar/New_Home_Page/dataarchived.html

In [ ]:
# TABELAS DA PÁGINA DO DAMODARAN
link = 'http://pages.stern.nyu.edu/~adamodar/New_Home_Page/datafile/histretSP.html'

df_html = pd.read_html(link)
df_html

Tipo do objeto

In [ ]:
print(type(df_html))

## Tratando dados

Selecionando primeiro item da lista

In [ ]:
df_html = df_html[0]
df_html

Trocando o nome da coluna

In [ ]:
df_html.columns = df_html.loc[1]
df_html

Deletando colunas

In [ ]:
df_html.drop([0, 1], inplace=True)
df_html

In [ ]:
print(df_html.dtypes)

Substituindo strings dentro do dataframe

In [ ]:
df_html.replace('%', '', regex=True, inplace=True)
df_html.replace(',', '', regex=True, inplace=True)
df_html.replace('\$ ', '', regex=True, inplace=True)

Transformando objetos em dados numéricos

In [ ]:
df_html = df_html.apply(pd.to_numeric)

In [ ]:
df_html.dtypes

Agora podemos fazer operações com o dataframe

In [ ]:
df_html['S&P 500 (includes dividends)'] = df_html['S&P 500 (includes dividends)']/100

In [ ]:
df_html

Transformar o "Year" em index

In [ ]:
df_html.set_index('Year', inplace=True)
df_html

Ordenar pelo índice

In [ ]:
df_html.sort_index(ascending=False, inplace=True)
df_html

Ordernar por outras colunas

In [ ]:
df_html.sort_values(by='S&P 500 (includes dividends)', ascending=False, inplace=True)
df_html

## Código completo read_html

In [ ]:
# TABELAS DA PÁGINA DO DAMODARAN
link = 'http://pages.stern.nyu.edu/~adamodar/New_Home_Page/datafile/histretSP.html'

# Lê a tabela e já seleciona o primeiro item da lista de dataframes
df_html = pd.read_html(link)[0]

# Troca os títulos das colunas para a segunda linha do dataframe
df_html.columns = df_html.loc[1]

# Apaga a linha 0 e 1 do dataframe pois são iguais aos títulos
df_html.drop([0, 1], inplace=True)

# Substituindo strings que atrapalham a identificação correta dos tipos de objeto
df_html.replace('%', '', regex=True, inplace=True)
df_html.replace(',', '', regex=True, inplace=True)
df_html.replace('\$ ', '', regex=True, inplace=True)

# Transformando em objetos do tipo numérico
df_html = df_html.apply(pd.to_numeric)

# Dividindo a coluna da rentabilidade por 100 para ficar em porcentagem
df_html['S&P 500 (includes dividends)'] = df_html['S&P 500 (includes dividends)']/100

# Usando a data como índice
df_html['Year'] = pd.to_datetime(df_html['Year'], format='%Y')
df_html.set_index('Year', inplace=True)

df_html

## Trabalhando com datetime

In [ ]:
arquivo = r'arquivos\petr4.csv'
df = pd.read_csv(arquivo, decimal=',')
df

Apagando as colunas que não serão usadas

In [ ]:
df.drop(columns=['Hora', 'ULT'], inplace=True)

Transformar a data em datetime

In [ ]:
df.dtypes

In [ ]:
df['Data_teste'] = pd.to_datetime(df['Data'])
df.dtypes

Conferindo formato da data

aaaa-mm-dd

In [ ]:
df.sort_values(by='Data_teste', ascending=False)

In [ ]:
df['Data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')
df.sort_values(by='Data', ascending=False, inplace=True)

In [ ]:
df.drop(columns='Data_teste', inplace=True)
df

Usando a data como índice

In [ ]:
df.set_index('Data', inplace=True)

Transformando em dados mensais

In [ ]:
df_mensal = df.resample('M').last()
df_mensal

In [ ]:
df_anual = df.resample('Y').last()
df_anual

Calcular o retorno anual

In [ ]:
df_anual['retorno'] = df_anual['Fechamento'].pct_change()
df_anual

## Juntando dois dataframes

In [ ]:
df_html

In [ ]:
df_sp = df_html.copy()
df_sp

In [ ]:
df_sp = df_sp[df_sp.columns[0:3]]
df_sp = df_sp/1000
df_sp

Transformar a data e ano em apenas ano

In [ ]:
df_sp.index = df_sp.index.year
df_sp

In [ ]:
df_anual.index = df_anual.index.year
df_anual